<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>[DEV 1.0] SAC - Connexion</title>
		    
		<link href="css/signin.css" rel="stylesheet">
	</head>
  	<body class="text-center">
		<main class="form-signin">
			<form action="" method="post" id="connexionForm">
				<img class="mb-4" src="images/logo.png" alt="Logo" width="100">
				<h1 class="h3 mb-3 fw-normal">Connexion</h1>
				<div class="form-floating">
					<input type="email" class="form-control" id="courriel" name="courriel" placeholder="Votre identifiant" required>
					<label for="courriel">Identifiant</label>
				</div>
				<div class="form-floating">
					<input type="password" class="form-control" id="motDePasse" name="motDePasse" placeholder="Mot de passe" required>
					<label for="motDePasse">Mot de passe</label>
				</div>
				<button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
				<p class="mt-5 mb-3 text-muted">420-106-RL Objets Connectés<br>&copy; Daniel Boisclair 2021<br>Cégep de Rivière-du-Loup A-2021</p>
			</form>
		</main>

		<script src="js/index.js"></script>
  	</body>
</html>
